<h1>Log in</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
